<a href="https://colab.research.google.com/github/Byeonjinha/Colab/blob/main/Ch02%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D%20%EC%8B%A4%EC%8A%B5/10_%EB%9E%9C%EB%8D%A4%ED%8F%AC%EB%A0%88%EC%8A%A4%ED%8A%B8_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:

"""
날짜 : 2021/10/20
이름 : 변진하
내용 : 랜덤포레스트 실습하기
"""
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import tree, metrics
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [5]:
# 데이터셋 확인
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'taxis',
 'tips',
 'titanic']

In [8]:
# 데이터 불러오기
df_iris = sns.load_dataset('iris')
df_iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [9]:
# 학습데이터
iris_train_data = df_iris.iloc[:, 0:4]
iris_train_label = df_iris.iloc[:, 4]

train_data, test_data, train_label, test_label = train_test_split(iris_train_data, iris_train_label)
train_data

     sepal_length  sepal_width  petal_length  petal_width
62            6.0          2.2           4.0          1.0
10            5.4          3.7           1.5          0.2
115           6.4          3.2           5.3          2.3
144           6.7          3.3           5.7          2.5
123           6.3          2.7           4.9          1.8
..            ...          ...           ...          ...
24            4.8          3.4           1.9          0.2
86            6.7          3.1           4.7          1.5
100           6.3          3.3           6.0          2.5
117           7.7          3.8           6.7          2.2
95            5.7          3.0           4.2          1.2

[112 rows x 4 columns]

In [10]:
# 학습하기
model = RandomForestClassifier()
model.fit(train_data, train_label)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [11]:
# 테스트하기
result = model.predict(test_data)

In [12]:
# 성능평가
score = metrics.accuracy_score(result, test_label)
score

1.0

In [16]:
############## pima 머신러닝 #################
# 데이터 불러오기
df_pima = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/file/pima-indians-diabetes.csv', header=None)
df_pima

      0    1   2   3    4     5      6   7  8
0     6  148  72  35    0  33.6  0.627  50  1
1     1   85  66  29    0  26.6  0.351  31  0
2     8  183  64   0    0  23.3  0.672  32  1
3     1   89  66  23   94  28.1  0.167  21  0
4     0  137  40  35  168  43.1  2.288  33  1
..   ..  ...  ..  ..  ...   ...    ...  .. ..
763  10  101  76  48  180  32.9  0.171  63  0
764   2  122  70  27    0  36.8  0.340  27  0
765   5  121  72  23  112  26.2  0.245  30  0
766   1  126  60   0    0  30.1  0.349  47  1
767   1   93  70  31    0  30.4  0.315  23  0

[768 rows x 9 columns]

In [17]:
# 학습데이터
pima_data = df_pima.iloc[:,0:8]
pima_label = df_pima.iloc[:,8]

pima_train_data, pima_test_data, pima_train_label, pima_test_label = train_test_split(pima_data, pima_label, test_size=0.05)
pima_test_data

      0    1    2   3    4     5      6   7
552   6  114   88   0    0  27.8  0.247  66
139   5  105   72  29  325  36.9  0.159  28
2     8  183   64   0    0  23.3  0.672  32
48    7  103   66  32    0  39.1  0.344  31
473   7  136   90   0    0  29.9  0.210  50
445   0  180   78  63   14  59.4  2.420  25
161   7  102   74  40  105  37.2  0.204  45
549   4  189  110  31    0  28.5  0.680  37
429   1   95   82  25  180  35.0  0.233  43
334   1   95   60  18   58  23.9  0.260  22
243   6  119   50  22  176  27.1  1.318  33
534   1   77   56  30   56  33.3  1.251  24
91    4  123   80  15  176  32.0  0.443  34
690   8  107   80   0    0  24.6  0.856  34
219   5  112   66   0    0  37.8  0.261  41
246  10  122   68   0    0  31.2  0.258  41
516   9  145   88  34  165  30.3  0.771  53
646   1  167   74  17  144  23.4  0.447  33
10    4  110   92   0    0  37.6  0.191  30
389   3  100   68  23   81  31.6  0.949  28
72   13  126   90   0    0  43.4  0.583  42
363   4  146   78   0    0  38.5  0.520  67
329   6  105   70  32   68  30.8  0.122  37
313   3  113   50  10   85  29.5  0.626  25
707   2  127   46  21  335  34.4  0.176  22
463   5   88   78  30    0  27.6  0.258  37
468   8  120    0   0    0  30.0  0.183  38
142   2  108   52  26   63  32.5  0.318  22
632   2  111   60   0    0  26.2  0.343  23
104   2   85   65   0    0  39.6  0.930  27
263   3  142   80  15    0  32.4  0.200  63
499   6  154   74  32  193  29.3  0.839  39
456   1  135   54   0    0  26.7  0.687  62
23    9  119   80  35    0  29.0  0.263  29
102   0  125   96   0    0  22.5  0.262  21
340   1  130   70  13  105  25.9  0.472  22
382   1  109   60   8  182  25.4  0.947  21
249   1  111   86  19    0  30.1  0.143  23
57    0  100   88  60  110  46.8  0.962  31

In [18]:
# 학습하기
model = RandomForestClassifier()
model.fit(pima_train_data, pima_train_label)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [19]:

# 테스트하기
pima_result = model.predict(pima_data)

In [20]:
# 성능평가
score = metrics.accuracy_score(pima_result, pima_label)
score

0.9869791666666666