<a href="https://colab.research.google.com/github/Byeonjinha/Colab/blob/main/Ch02.%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D%20%EC%8B%A4%EC%8A%B5/7_%EC%84%9C%ED%8F%AC%ED%8A%B8%EB%B2%A1%ED%84%B0%EB%A8%B8%EC%8B%A0_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
"""
날짜 : 2021/10/20
이름 : 변진하
내용 : 서포트벡터머신 실습하기
"""
import pandas as pd
from sklearn import svm, metrics
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [37]:
########## XOR 머신러닝 ##################
train_data = [[0,0],[0,1],[1,0],[1,1]]
train_label = [0,1,1,0]

In [39]:
# 학습하기 
# model = svm.SVC()
model = LogisticRegression()
model.fit(train_data,train_label)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [41]:
#테스트하기
test_data = [[0,1],[1,1],[1,0]]
result = model.predict(test_data)
result

array([0, 0, 0])

In [43]:
#################  iris 머신러닝  ###########################
# 데이터 불러오기
df_iris = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/file/iris.csv')
df_iris

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [44]:
# 학습데이터
iris_data = df_iris.iloc[:,0:4] # 학습데이터
iris_label = df_iris.iloc[:,4]
train_data, test_data, train_label, test_label = train_test_split(iris_data, iris_label)
train_data

     sepal.length  sepal.width  petal.length  petal.width
6             4.6          3.4           1.4          0.3
44            5.1          3.8           1.9          0.4
29            4.7          3.2           1.6          0.2
61            5.9          3.0           4.2          1.5
52            6.9          3.1           4.9          1.5
..            ...          ...           ...          ...
57            4.9          2.4           3.3          1.0
147           6.5          3.0           5.2          2.0
20            5.4          3.4           1.7          0.2
82            5.8          2.7           3.9          1.2
73            6.1          2.8           4.7          1.2

[112 rows x 4 columns]

In [45]:
#학습하기
model = svm.SVC()
model.fit(train_data,train_label)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [46]:
#테스트하기
result = model.predict(test_data)
result

array(['Virginica', 'Virginica', 'Setosa', 'Virginica', 'Virginica',
       'Setosa', 'Versicolor', 'Setosa', 'Setosa', 'Virginica',
       'Virginica', 'Versicolor', 'Setosa', 'Versicolor', 'Virginica',
       'Versicolor', 'Versicolor', 'Setosa', 'Setosa', 'Virginica',
       'Versicolor', 'Setosa', 'Virginica', 'Versicolor', 'Versicolor',
       'Versicolor', 'Virginica', 'Setosa', 'Virginica', 'Setosa',
       'Setosa', 'Virginica', 'Versicolor', 'Virginica', 'Versicolor',
       'Virginica', 'Setosa', 'Versicolor'], dtype=object)

In [47]:
#성능평가 
score = metrics.accuracy_score(result, test_label)
score

0.9736842105263158

In [27]:
######     pima 머신러닝 ###########
#데이터 불러오기
df_pima = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/file/iris.csv')
df_pima

      6  148  72  35    0  33.6  0.627  50  1
0     1   85  66  29    0  26.6  0.351  31  0
1     8  183  64   0    0  23.3  0.672  32  1
2     1   89  66  23   94  28.1  0.167  21  0
3     0  137  40  35  168  43.1  2.288  33  1
4     5  116  74   0    0  25.6  0.201  30  0
..   ..  ...  ..  ..  ...   ...    ...  .. ..
762  10  101  76  48  180  32.9  0.171  63  0
763   2  122  70  27    0  36.8  0.340  27  0
764   5  121  72  23  112  26.2  0.245  30  0
765   1  126  60   0    0  30.1  0.349  47  1
766   1   93  70  31    0  30.4  0.315  23  0

[767 rows x 9 columns]

In [32]:
#학습데이터
pima_data = df_pima.iloc[:,0:8]
pima_label = df_pima.iloc[:,8]
pima_data

train_data, test_data, train_label, test_label = train_test_split(pima_data, pima_label)
train_data

     6  148  72  35    0  33.6  0.627  50
470  0  137  70  38    0  33.2  0.170  22
566  6   92  62  32  126  32.0  0.085  46
643  3  103  72  30  152  27.6  0.730  27
186  1  128  98  41   58  32.0  1.321  33
637  7   97  76  32   91  40.9  0.871  32
..  ..  ...  ..  ..  ...   ...    ...  ..
309  6   80  66  30    0  26.2  0.313  41
208  7  184  84  33    0  35.5  0.355  41
391  1  131  64  14  415  23.7  0.389  21
279  0  146  70   0    0  37.9  0.334  28
753  8  154  78  32    0  32.4  0.443  45

[575 rows x 8 columns]

In [33]:
# 학습하기
model = svm.SVC()
model.fit(train_data, train_label)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [34]:
# 테스트하기
result1 = model.predict(test_data)

In [35]:
# 성능평가
score = metrics.accuracy_score(result1, test_label)
score

0.7604166666666666